<div class="card-container">
  

      
  <div class="video-card">
    <h2>{{ videoTitle2 }}</h2>
    <div class="video-container">
      <iframe 
        [src]="videoUrl2" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
    <div class="video-description">
      <p>{{ videoDescription2 }}</p>
      <div class="link-container">
        <a [href]="articleUrl" target="_blank" class="link-btn">Read NY Post Article</a>
        <a [href]="companyUrl" target="_blank" class="link-btn">Visit Revo Foods Website</a>
      </div>
    </div>
  </div>

  <div class="video-card">
    <h2>{{ videoTitle1 }}</h2>
    <div class="video-container">
      <iframe 
        [src]="videoUrl1" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
    <div class="video-description">
      <p>{{ videoDescription1 }}</p>
    </div>
  </div>

  <div class="video-card">
    <h2>{{ videoTitle3 }}</h2>
    <div class="video-container">
      <iframe 
        [src]="videoUrl3" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
    <div class="video-description">
      <p>{{ videoDescription3 }}</p>
    </div>
  </div>

  <div class="instagram-card">
    <h2>Keinen Schritt zurück! by Veselý Marek </h2>
    <div class="instagram-content">
      <div class="instagram-grid">
        <div class="instagram-container" [innerHTML]="instagramEmbed1"></div>
        <div class="instagram-container" [innerHTML]="instagramEmbed2"></div>
      </div>
      <div class="instagram-description">
        <p>{{ instagramDescription }}</p>
        <div class="link-container">
          <a [href]="imdbUrl" target="_blank" class="link-btn">View on IMDB</a>
          <a [href]="wikiUrl" target="_blank" class="link-btn">Read on Wikipedia</a>
          <a [href]="directorWikiUrl" target="_blank" class="link-btn">About the Director</a>
          <a [href]="directorWebsiteUrl" target="_blank" class="link-btn">Director's Website</a>
        </div>
      </div>
    </div>
  </div>
</div>
